body{
    background-color: rebeccapurple;
}
@media only screen and (max-width: 455px){
    body{
        background-color: aqua;
    }
    .boxes{
        flex-direction: column;
    }
}
@media screen and (orientation:landscape) {
    body{
        border: 3px solid black;
    }
}

.box{
    height: 344px;
    width: 344px;
    background-color: steelblue;
    margin: 3px;
    padding: 3px;
}
.boxes{
    display: flex;
}