.container{
background-color:antiquewhite;
width: 50vw;
height: 40vh;
}
.box{
    background-color: aquamarine;
    width: 5vw;
    height: 4vh;
    /* transition-property: transform; */
    /* transition-property: background-color ,transform; */
    transition-property: all;
    transition-duration: 3s;
    /* transition-timing-function: ease-in-out; */
    transition-timing-function: cubic-bezier(0.43, 0.65, 0.2, 1.36);
    transition-delay: 1s;

    transition: all 3s ease-in-out 1s; 
    /* to use all properties in a single function */
}
.translate{
    transform: translateX(10vw) translateY(10vh) scale(2);
    background-color: blue;
}